# 3 Programming in Python

## 3.1 Expression

In [2]:
3 * 4

12

In [20]:
# 3 * * 4 # 则寄
3 ** 4

81

> Common Operators
> `+` `-` `*` `/` `%` `**`

---

## 3.2 Names

In [4]:
a = 10
b = 20
a + b

30

- 名称必须以字母开头 (下划线也行吧草)

In [8]:
_a = 1
_2 = 2
_a + _2

3

---

## 3.3 Call Expressions

In [21]:
abs(-12)  # 属于一个 call expression

12

In [10]:
round(5 - 1.3)

4

In [15]:
print(round(1.3))
print(round(1.6))
print(round(-1.3))

1
2
-1

In [16]:
max(2, 2 + 3, 4)

5

- 一些情况下，一些函数可用，如 `abs()`, `round()`
- 但是 py 中多数函数都存储在称为 **module** 的函数集合中
- 可以使用 imoprt statement 来提供对一个 module 的访问

In [19]:
import math
import operator
math.sqrt(operator.add(4, 5))  # 相当于 (4 + 5) ** 0.5

3.0

- **定义** 两个值 $a$, $b$ 的 **percent difference** 定义为
    $$
    \frac{a - b}{(a + b) / 2} \cdot 100
    $$

In [22]:
florida = 2.72
iowa = 16.25
100*abs(florida-iowa)/((florida+iowa)/2)

142.6462836056932

- 尝试在 `math.` 后面敲 tab，即可看见这个 module 中所有可用的函数
- 查询一个函数的用法，可以在函数名之后加 `?`，例如 `math.log?`

In [23]:
# math.
math.log?

In [27]:
print(math.log(16, 2))
print(math.log(16) / math.log(2))
print(math.log(math.e ** 2))  # 默认底数是 e

4.0
4.0
2.0

- [python's built-in functions](https://docs.python.org/3/library/functions.html)
- [mathematical functions in the math module](https://docs.python.org/3/library/math.html)

---

## 3.4 Introduction to Tables

1. 读表的两种方式
    - 读列：每一列描述的是所有条目的单个属性 (可使用它们的 label 来引用列)
    - 读行：每一行是单个 individual 的所有信息
2. table method 类似于函数，调用方法形如 `name_of_table.method(arguments)`，例如
    ```python
    cones.show(2)   # cones 为表名, show() 为方法, 仅看表的前2列
    ```

In [2]:
from datascience import *  # 首次使用需要 pip install datascience
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [3]:
cones.show(2)
cones.show(7)  # 超过 6 只显示 6

### 3.4.1 Choosing Sets of Columns

- `select()` 方法用于创建一个新的表，由特定的几列组成（原表保持不变）
- `drop()` 方法用于 drop 掉不需要的列（原表保持不变）

In [4]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [5]:
cones # 原表不变

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [6]:
cones.select('Flavor', 'Price')  # 可选择多列，可以是不香霖的

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [7]:
cones.drop('Color')              # 原表仍不变

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [8]:
no_colors = cones.drop('Color')  # 可以对新表赋值
no_colors

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

### 3.4.2 Sorting Rows

- `sort()` 方法可按表中指定的列来升序排序rows，来创建一个新表（原表保持不变）
- 若要降序排序，加入可选参数 `descending = True`

In [9]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [10]:
cones  # 原表不变

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [11]:
cones.sort('Price', descending = True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

### 3.4.3 Selecting Rows that Satisfy a Condition

- `where()` 方法用于创建一个新表，其仅由满足给定条件的 rows 组成

In [12]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [13]:
cones.where('Flavor', 'Chocolate')  ## 会无

Flavor | Color | Price

### 3.4.4 Example: Salaries in the NBA

In [14]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [15]:
nba.where('PLAYER', 'Stephen Curry')

PLAYER        | POSITION | TEAM                  | SALARY
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [16]:
warriors = nba.where('TEAM', 'Golden State Warriors')
warriors  ## 默认情况下，仅显示前 10 行

PLAYER            | POSITION | TEAM                  | SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [17]:
warriors.show()   # 可以使用 show() 来显示更多或更少，没有参数的 show() 则显示全部

In [18]:
nba.sort('SALARY', descending = True)

PLAYER          | POSITION | TEAM                  | SALARY
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

---

### 其他补充（Lab02）

- The table property `num_columns` returns the number of columns in a table. (A "property" is just a method that doesn't need to be called by adding parentheses.)
- Similarly, the property `num_rows` tells you how many rows are in a table.

In [21]:
print(nba.num_columns)
print(nba.num_rows)

4
417

- 在 `where()` 中也可以使用谓词 (predicate), 例如调用函数 `are.equal_to()`
- 其他的谓词
    |Predicate|Example|Result|
    |:-|:-|:-|
    |`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
    |`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
    |`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
    |`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
    |`are.below`|`are.below(50)`|Find rows with values below 50|
    |`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

In [22]:
nba.where('TEAM', are.equal_to('Golden State Warriors'))

PLAYER            | POSITION | TEAM                  | SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

### Summary

|Name|Example|Purpose|
|:-|:-|:-|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("N")`|Create a copy of a table without some of the columns|